#footer{
    background-color: black;
    font-size: 1.6rem;
}

.footer-top{
    background-color: #810000;
    ul {
        padding: 1rem 0;
        display: flex;
        column-gap: 1rem;
        list-style: none;
    }
    .footer-top-left{
        img{
            width: 2rem;
        }
    }
    .footer-top-right{
        p{
            padding-top: 1rem;
        }
    }
}
.footer-bottom{
    padding: 2rem 0;
    background: #000000;
    width: 100%;
    font-weight: bold;
    p{
        padding-top: 1rem;
        font-weight: normal;
    }
    ul {
        padding: 1rem 0;
        display: flex;
        column-gap: 1rem;
        list-style: none;
    }
}

.footer-logo{
    display: flex;
    justify-content: center;
    img{
        width: 15rem;
    }
}
